html, body {
  margin: 0;
  height: 100%;
  background: #000;
  overflow: hidden;
  user-select: none;
}

#app {
  display: grid;
  grid-template-columns: 320px 1fr;
  height: 100%;
}

#sidebar {
  background: #0b0b0b;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

#sidebar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#stage {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

#xray {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
